body {
    max-width: 1000px;
    margin: auto;
  
}

.header {grid-area: header;}
.menu {grid-area: menu;}
.main {grid-area: main;}
.right {grid-area: right;}
.footer {grid-area: footer;}

#grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu menu menu"
        "main main main"
        "right right right"
        "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 100px auto 100px 100px;
    gap: 5px;
    background-color: dodgerblue;
    padding: 5px;
}

#grid-container > * {
  background-color: rgb(246, 235, 200);
  padding: 10px;
}

h2 {
    text-align: center;
}

@media screen and (min-width: 550px) and (max-width: 699px) {
   #grid-container {
        display: grid;
        grid-template-areas:
            "header header header"
            "menu menu menu"
            "main main main"
            "right right right"
            "footer footer footer";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100px 100px auto 100px 100px;
        gap: 5px;
        background-color: dodgerblue;
        padding: 5px;
    }
}

@media screen and (min-width: 700px) {
   #grid-container {
        display: grid;
        grid-template-areas:
            "header header header"
            "menu main right"
            "footer footer footer";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100px auto 100px;
        height: 100vh;
        gap: 8px;
        background-color: dodgerblue;
        padding: 5px;
    }
    
}

